<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/static/images/owl.svg" sizes="any" type="image/svg+xml">
  <title>Ulka | Home</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <!-- Custom styles for this template -->
  <link href="/static/css/starter-template.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  </head>
  
  <body>
    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand"href="#"><img class="d-block" width="36" height="36"  src="/static/images/owl.png"  focusable="false" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home"><b>ULKA</b> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news">News</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/announcements">Announcements</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <div class="btn-group">    
          <button class="btn btn-outline-success my-2 my-sm-0 dropdown-toggle" id="dropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{session.name}}</button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownProfile">
            <a href="/profile" class="dropdown-item" type="button">Profile</a>
            <a href="/settings" class="dropdown-item" type="button">Settings</a>
            <div class="dropdown-divider"></div>
            <a href="/logout" class="btn btn-primary dropdown-item text-danger">Logout</a>
          </div>
        </div>       
      </div>
    </nav>
    
    <main role="main" class="container">
      
      <div class="starter-template">
        <div class="container">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="bus-tab" data-toggle="tab" href="#bus" role="tab" aria-controls="bus" aria-selected="true">
                <div class="col">
                  <i class="fa fa-bus" aria-hidden="true"></i> Bus
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="train-tab" data-toggle="tab" href="#train" role="tab" aria-controls="train" aria-selected="false">
                <div class="col">
                  <i class="fa fa-train" aria-hidden="true"></i> Train
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="subway-tab" data-toggle="tab" href="#subway" role="tab" aria-controls="subway" aria-selected="false">
                <div class="col">
                  <i class="fa fa-subway" aria-hidden="true"></i> Subway
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="car-tab" data-toggle="tab" href="#car" role="tab" aria-controls="car" aria-selected="false">
                <div class="col">
                  <i class="fa fa-car" aria-hidden="true"></i> Car
                </div>
              </a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="bus-tab">Bus Form here</div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="train-tab">Train Form here</div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="subway-tab">Subway Form here</div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="car-tab">Car form here</div>
          </div>
          
            <div class="row">            
              <div class="col-sm">
                <label for="origin">From</label>
                <input class="col-sm-6 custom-select" name="origin" list="bus-stops-from" id="origin" autocomplete="off">
                <datalist id="bus-stops-from">
                  {% for stops in bus_stops %}
                  <option value="{{ stops[0] }}"></option>
                  {% endfor %}                
                </datalist>
              </div>
              <div class="col-sm">
                <label for="destination">To</label>
                <input class="col-sm-6 custom-select" name="destination" list="bus-stops-to" id="destination" autocomplete="off">
                <datalist id="bus-stops-to">
                  {% for stops in bus_stops %}  
                  <option value="{{ stops[0] }}"></option>
                  {% endfor %}
                </datalist>
              </div>
              <div class="col-sm">
                <button type="submit" id="submit" class="btn btn-success btn-sm routeButton">Search</button>
              </div>            
            </div>
          
        </br>
        <div class="row">
          <div class="col-sm-8">
            <div id="accordion">
              <!-- section for viewing bus routes and options 
                    appeded through jquery script.js -->
            </div>
          </div>
          <div class="col-sm-4">
            <div id="map" style="width:100%;height: 329px;"></div>
            <div id="directionsPanel" style="float:right;width:100%;height:100%"></div>
          </div>
        </div>
      </div>
      
      
    </div>
    
  </main><!-- /.container -->
  <script>
    function initMap() {
      var directionsService = new google.maps.DirectionsService();
      var directionsRenderer = new google.maps.DirectionsRenderer();
      var mumbai = new google.maps.LatLng(19.082439, 72.808222);
      var mapOptions = {
        zoom:10,
        center: mumbai
      }
      var map = new google.maps.Map(document.getElementById('map'), mapOptions);
      directionsRenderer.setMap(map);
      
      document.getElementById('submit').addEventListener('click', function() {
        calcRoute(directionsService, directionsRenderer);
      });
    }
    function calcRoute(directionsService, directionsRenderer) {
      var start = document.getElementById('origin').value;
      var end = document.getElementById('destination').value;
      
      var request = {
        origin: start,
        destination: end,
        travelMode: 'TRANSIT',
        drivingOptions: {
          departureTime: new Date(Date.now()), 
          trafficModel: 'optimistic'
        },
        transitOptions: {
          // modes: ['BUS','TRAIN'],
          // routingPreference: 'FEWER_TRANSFERS',
          routingPreference: 'LESS_WALKING',
        },
      };
      directionsService.route(request, function(result, status) {
        if (status == 'OK') {
          directionsRenderer.setDirections(result);
        }
        else if( status == 'ZERO_RESULTS') {
          alert("No data found");
        }
      });
    }
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };              
        infoWindow.setPosition(pos);
        infoWindow.setContent('Location found.');
        infoWindow.open(map);
        map.setCenter(pos);
      }, 
      function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }    
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
      'Error: The Geolocation service failed.' :
      'Error: Your browser doesn\'t support geolocation.');
      infoWindow.open(map);
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA45Lb9EP7uuJiGLnOW1cPpsgwvx0ByqKc&callback=initMap">
  </script>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type=text/javascript src="/static/js/jquery.js"></script>
  <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>   
  <script type=text/javascript src="/static/js/script.js"></script> 
  
</body>
</html>
